<launch>

    <!-- This is for launching Realsense camera:

    $ roslaunch realsense2_camera rs_camera.launch filters:=pointcloud align_depth:=true

    $ roslaunch realsense2_camera rs_camera.launch

    $ roslaunch realsense2_camera rs_camera.launch filters:=colorizer align_depth:=true

    $ roslaunch realsense2_camera rs_camera.launch align_depth:=true

    * If using filters:=pointcloud, depth image will be filled with colored. So don't use it.
    I haven't figure out generating both (1) point cloud and (2) non-colored depth image.
    
    -->

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="align_depth" default="true" />
    </include>

</launch>
